.bg-blue-menu{
	background-color: #ff6c0c;
	color: #fff;
	text-align: center;
	
}

.btn{margin: 120px 0px}

.center {text-align: center!important}

.formulario_color{color: #ff6c0c!important; font-weight: 500!important }

.espacio-botones{ margin: 25px 0px}

.form-text{
	color: #ff6c0c;
	font-size: 24px;
	font-weight: 800;
}

.form-text-solo {
	color: #ff6c0c;
	font-weight: lighter;
}



.btn-face{
font-size:18px;
color: #ffffff!important;
background-color: #3b5998;
padding: 10px;
border-radius: 3px;	margin: 80px 25px
}



.btn-google{
font-size:18px;
color: #ff6c0c;
background-color: #fff;
padding:8px 18px; text-align: center;
border-radius: 0;
border-color: #ff6c0c;
border: 2px solid; border-radius: 3px;	margin: 80px 25px
}

.btn-email{
font-size:18px;
color: #ffffff!important;
background-color: #ff6c0c;
padding: 10px 27px; border-radius: 3px;	margin: 80px 25px
}




.centromili{
text-align: center;
}

.img-form{text-align: center; width: 70%; margin: 10% 15%}

.titulonaranjamili{
color:#ff6c0c;
}

.reviewmili{
font-size:80px;
margin-left: 20%;
color:#ff6c0c;
}

.iconmili{
font-size:120px;
color:#ff6c0c;
}

.img-profile{margin: 20px}

.border-service{border: 1px solid #ff6c0c; border-radius: 5px; margin: 10px 0px; padding: 10px}

.preciosmili{
color:#ff6c0c;
font-size:25px;
}

	.page {
	color: #ff6C0C;
	font-size: 15px;
		
	}
.tamano{
	font-size: 50px;
	
}
.centrado{
	margin-left: 1px;
	}
.btn-nuevo{
	text-transform: uppercase;
	padding: 0.5% 1%;
	color: #fff;
	background-color: #ff6C0C;
	border-radius: 0px;
	margin-left: 75px;
	
}
.boton-mena{
	padding: 2%;
}
	

.borde-textarea{border: 1px solid #ff6c0c;}


.fondo-naranja{background-color: #ff6c0c; color: #ffffff!important; text-align: center }

.block.bg-blue-menu{
	margin-top: 0;
	padding: 20px 0;
}
.circle-menu{
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #681A1B;
	color: #007CC8;
	text-align: center;
	display: block;
	border-radius: 100%;
	margin: 0 auto;
}
.bg-blue-menu .block-title{
	color: #fff;
	margin-top: 10px;
	font-size: 16px;
}

.img-us{width: 75%; margin: 0px 35px}

.panel-left{
	background-color: #ff6c0c;
}
.panel-left .list{
	color: #fff;
	font-size: 14px;
}



.texto-naranja{color: #ff6c0c!important }

h1,h2,h3,h4,h5,h6{
	margin: 5px 0;
}
.img-fluid{
	max-width: 100%;
	display: block;
}
.card-producto h2{
	font-size: 30px;
}
.card-producto i{
	color: #D7C523;
}
.card-producto h3{
	font-size: 16px;
}
.card-producto .card-header{
	padding: 0;
}
.foto{
	margin: 15px 0px;
}


.color-foto{
	color:#ff6c0c;
}

.nombre-foto h4{
	color:#ff6c0c;
}

.borde-foto {
	border:1px;
	border-color:#ff6c0c;
	border-radius: 7px;
}

.padding{
padding-left: 90px;
}

.enlace{
color:#ff6c0c;
}

.btn-nuevo{
	text-transform: uppercase;
	padding: 0.5% 1%;
	color: #fff;
	background-color: #ff6C0C;
	border-radius: 0px;
	margin-left: 75px;
	}
.btn-margin{
margin-left: 30%;

	
	
	
h1,h2,h3,h4,h5,h6{
	margin:5px 0;
}


